alive-progress==3.1.5
asgiref==3.8.1
boto3==1.34.78
botocore==1.34.78
Django==5.0.3
django-axes==6.4.0
django-cors-headers==3.6.0
django-environ==0.11.2
django-filter==24.2
django-migration-zero==1.1.2
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
django-seeding==1.2.2
django-soft-delete==1.0.12
django-storages==1.14.2
Faker==24.11.0
isort==5.13.2
openpyxl==3.1.2
pep8==1.7.1
phil-loc==0.5.7
drf-yasg==1.21.7
pillow==10.3.0
psycopg2==2.9.9
psycopg2-binary==2.9.9
PyJWT==2.8.0
shortuuid==1.0.13
sqlparse==0.4.4
tzdata==2024.1
gunicorn==20.0.4
weasyprint==62.0